<div class="container">
  <div class="p-3 mb-2 bg-primary text-dark">
    <div class="row row-cols-5">
      <div class="col .bg-light">B</div>
      <div class="col">I</div>
      <div class="col">N</div>
      <div class="col">G</div>
      <div class="col">O</div>
    </div>
  </div>
  <div class="p-3 mb-2 bg-info text-dark">
    <div class="row row-cols-5">
      <div class="col .bg-light"><button type="button" class="btn btn-primary">B</button></div>
      <div class="col"><button type="button" class="btn btn-primary">I</button></div>
      <div class="col"><button type="button" class="btn btn-primary">N</button></div>
      <div class="col"><button type="button" class="btn btn-primary">G</button></div>
      <div class="col"><button type="button" class="btn btn-primary">O</button></div>
    </div>
  </div>
</div>
